.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.myPaper {
  min-height: 150px;
  width: 100%;
  margin-top: 20px;
  text-align: 'center';
  display: 'inline-block'
}

.textInput {
  margin-left: 20px;
}

.btnFooter {
  text-align: center;
  padding: 5%;
}

.loginPage {
  margin: 0 auto;
  width: 300px;
}

.signupPage {
  margin: 0 auto;
  width: 300px;
}

.homePage {
  margin: 0 auto;
  width: 300px;
}

.historyPage {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}


.myTab {
  width: 100%;
  margin-top: 20px;
  text-align: 'center';
  display: 'inline-block'
}

.emptyList {
  font-weight: bold;
  margin: 20%;
}