.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.myPaper {
  min-height: 150px;
  width: 100%;
  text-align: 'center';
  display: 'inline-block'
}

.textInput {
  margin-left: 20px;
}

.btnFooter {
  text-align: center;
  padding: 5%;
}

.homePage {
  margin: 0 auto;
  width: 300px;
}

.historyPage {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}


.myTab {
  width: 100%;
  margin-top: 20px;
  text-align: 'center';
  display: 'inline-block'
}

.emptyList {
  margin: 20%;
}

.errorMessage {
  margin-left: 20px;
  padding-top: 10%;
  position: relative;
  color: red;
  margin-right: 20px;
  font-size: 14px;
}

h2 {
  padding-top: 5%;
}

.historyIndex {
  font-size: 14px;
  font-weight: bold;
}