.myPaper {
    min-height: 150px;
    width: 100%;
    margin-top: 20px;
    text-align: 'center';
    display: 'inline-block'
}

.btnFooter {
    position: relative;
    margin: 5%;
    text-align: center;
}

.loginPage {
    margin: 0 auto;
    width: 300px;
}

.textInput {
    margin-left: 20px;
}